/* General css */
body {
    display: grid;
    line-height: 1.5;
}
header {
    background-color: green;
}

/* Navigation */

nav {

}


/* Showcase */

#showcase {
    background: blue;
    color: white;
    height: 40vh;
}


/* Portfolio */

#portfolio {
    background: gold;
    color: black;
}


/* Contact */

#contact {
    background: red;
    color: yellow;
    height: 40vh;
}