html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: #fcfcf3;

}
Default,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: #05668d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Cousine", monospace;
}
#wrapper {
  max-width: 90%;
  margin: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 90%;
  background-color: #FCFCF3;
}
nav ul {
  display: flex;
  list-style: none;
  align-items:  flex-end;
}
nav img {
  border: 5px solid #05668d;
  border-radius: 90px; 
}
#personal {
  padding-top: 5em;
}
.card img {
  max-width: 300px;
}
#about p {
  margin: 1em auto;
}
#contact {
  margin: 1em auto;
  text-align: center;
  padding-bottom: 2em;
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  margin: 1em;
}
.card-text {
  max-width: 240px;
}
a:link,
a:visited {
  background-color: #05668d;
  color: white;
  padding: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #FCFCF3;

}

a:hover,
a:active {
  background-color: #FCFCF3;
  border: 1px solid #05668d;
  color: #05668d;
}

@media (min-width: 800px) {
  #wrapper {
    max-width: 800px;
  }
}
