#jumbo {
    background-color: pink;
}

#about {
    background-color: yellow;  
}

#portfolio {
    background-color: green;
}

#threecolm {
    background-color: orange;
}

body {
    max-width:100vh;
    align-content: center;
}

footer {
    background-color: aquamarine;
    height: 30px;
}

p {
    align-content: center;
    text-align: left;
    margin: auto;
}